fastapi
uvicorn[standard]
motor
pymongo[srv]
dnspython
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pydantic[email]
pydantic-settings
pillow
httpx
email-validatorbcrypt==4.0.1
